$color-1: #332649;
$color-2: #d8dde9;
$color-3: #1b2037;
$color-4: #5466b0;
$color-5: #2b73d7;


$bg-primary: $color-1;
$bg-secondary: $color-3;
$bg-tertiary: $color-5;
$bg-quaternary: $color-2;
$text-primary: $color-2;
$text-secondary: $color-4;


@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&display=swap');

$font-family-primary: 'Agdasima', sans-serif;